// Override default variables before the import
$body-bg: white;
$heading: black;



// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

h1 {
    color: $heading;
    text-align: center;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 2480px; 
}


